/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  height: 80px;
  background-color: #20262e;
  border-bottom: 1px solid;
}
.form-div {
  display: flex;
  align-items: center;
}
.form-input {
  height: 36px;
  width: 550px;
  margin-left: 50px;
  border-radius: 5px;
  border: 1px solid;
}
.form-input:hover {
  height: 40px;
}
.form-btn {
  margin-left: 12px;
  height: 40px;
  width: 60px;
  border-radius: 5px;
  font-weight: bold;

  background-color: #e7b10a;
  cursor: pointer;
}
.form-btn:hover {
  background-color: #ffd95a;
}

ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

li a {
  color: azure;
}

a {
  text-decoration: none;
  font-weight: bold;
  padding: 20%;
}
a:hover {
  border: 1px solid white;
  border-style: groove;
}
.logo {
  height: 40px;
  width: 40px;
}
.nav-h1 {
  font-family: "Playball", cursive;
  color: white;
}
