.category-product-section {
  margin: 30px 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr, 1fr;
  gap: 30px;
}

.product-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  border-radius: 10px;
  width: 350px;
  height: 420px;
  border: 1px solid;
  box-shadow: 0 8px 11px;
}

.product-img {
  height: 170px;
  width: 210px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.product-title {
  font-weight: bold;
  margin: 0 8px;
}

.product-btn {
  width: 250px;
  height: 40px;
  border-radius: 9px;
  background-color: #ffbe0b;
  font-size: large;
  cursor: pointer;
}
.product-btn:hover {
  width: 300px;
  height: 50px;
}

.product-price {
  font-size: xx-large;
}
